<div class="nav-mobile">
  <div id="nav-mobile-menu-button" class="nav-mobile__button">
    <div id="nav-mobile-menu-burger" class="nav-mobile__burger"></div>
  </div>
  <nav id="nav-mobile-menu" class="nav-mobile__menu">
    <a class="nav-mobile__link" href="/#when">Wedding Day</a>
    <a class="nav-mobile__link" href="/#order-of-events">Order of Events</a>
    <a class="nav-mobile__link" href="/travel">Travel</a>
    <a class="nav-mobile__link" href="/accommodation">Accommodation</a>
    <a class="nav-mobile__link" href="/#dress">Dress</a>
    <a class="nav-mobile__link" href="/#facilities-accessibility">Facilities</a>
    <a class="nav-mobile__link" href="/#gifts">Gifts</a>
    <a class="nav-mobile__link" href="/#more">More Info</a>
  </nav>
</div>
<nav class="nav-desktop">
  <a class="nav-desktop__link" href="/#when">Wedding Day</a>
  <a class="nav-desktop__link" href="/#order-of-events">Order of Events</a>
  <a class="nav-desktop__link" href="/travel">Travel</a>
  <a class="nav-desktop__link" href="/accommodation">Accommodation</a>
  <a class="nav-desktop__link" href="/#dress">Dress</a>
  <a class="nav-desktop__link" href="/#facilities-accessibility">Facilities</a>
  <a class="nav-desktop__link" href="/#gifts">Gifts</a>
  <a class="nav-desktop__link" href="/#more">More Info</a>
</nav>