<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{ .Site.Title }} </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- <link href="style.css" rel="stylesheet" /> -->
        <link href="/css/style.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&family=Spline+Sans:wght@700&display=swap" rel="stylesheet">
        {{ block "dynamic_styles" . -}}{{- end }}
    </head>
    <body id="top">
        {{ block "main" . -}}{{- end }}
        <script src="/js/script.js"></script>
    </body>
</html>
