<main>
    <div class="image image1"></div>


    <section id="when" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>
        <h1 class="section__heading">The Wedding</h1>
        <section class="section__split">
            <div>
                <h2 class="section__heading">When</h2>
                <p>
                    {{ .Params.when }}
                </p>
            </div>
            <div>
                <h2 class="section__heading">Where</h2>
                <p>
                    {{ .Params.where }}
                </p>
            </div>
        </section>
    </section>

    <div class="image image2"></div>

    <section id="more" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>
        <p>Thank you for visiting our website - we'll update it with more information once we officially send out RVSPs</p>
    </section>

    <div class="image image3"></div>
    
    <div class="scroll-top">
        <a class="scroll-top__button" href="#top">
            {{ partial "svgs/scroll-up.svg" . }}
            {{ partial "svgs/leaves.svg" . }}
        </a>
    </div>
</main>