<main>
    <div class="image image1"></div>


    <section id="when" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>
        <h1 class="section__heading">The Wedding</h1>
        <section class="section__split">
            <div>
                <p class="section__subheading">When</p>
                <p class="section__text--bold">
                    {{ .Params.when }}
                </p>
            </div>
            <div>
                <p class="section__subheading">Where</p>
                <p class="section__text--bold">
                    {{ .Params.where.first }}
                </p>
                <p>
                    {{ .Params.where.second }}
                </p>
            </div>
        </section>
        <!-- My CSS in this project is bad, man -->
        <section style="display:flex;flex-direction:column;align-items:center;">
            <h2 style="margin-top:2rem;" class="section__heading">Speeches</h2>

            <h3 style="margin-top:2rem;" class="section__heading">Father of Bride</h3>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/XfCBomxy7K8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

            <h3 style="margin-top:2rem;" class="section__heading">Best Man</h3>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/JzArXpZgaOs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

            <h3 style="margin-top:2rem;" class="section__heading">Groom</h3>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/NPhbs9SEmVc"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

        </section>
    </section>

    <div class="image image2"></div>


    <section id="order-of-events" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaves.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/order-of-events" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image3"></div>

    <section id="travel-accommodation" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/travel-accommodation" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image1"></div>

    <section id="dress" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/dress" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>
    <section id="facilities-accessibility" class="section light">
        {{ $t := .Site.GetPage "/section/facilities-accessibility" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>
    <section id="gifts" class="section light">
        {{ $t := .Site.GetPage "/section/gifts" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image2"></div>

    <section id="more" class="section light" style="text-align:center;">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>
        <p style="margin-bottom:1em;">Thank you for visiting our website!</p>
        <p style="margin-bottom:1em;">We cannot wait to share this special day with you, and have all our loved ones
            under one roof for the first time in FOREVER!</p>
        <p style="margin-bottom:1em;">In the meantime, if you have any questions you can contact us both at <a
                href="mailto:hugoandsarah2023@gmail.com">HugoAndSarah2023@gmail.com</a></p>

        <p style="margin-top:2em;margin-bottom:1em;">*</p>
        <p style="margin-bottom:1em;">Also, did you know the invitation is made of recycled paper and wild flower seeds,
            and can be planted?</p>
        <p style="margin-bottom:1em;">To plant your invitation, <a href="/plant">see instructions here</a>
        </p>
        </p>
    </section>

    <div class="scroll-top">
        <a class="scroll-top__button" href="#top">
            {{ partial "svgs/scroll-up.svg" . }}
        </a>
    </div>
</main>